body{
    background-color: #ccc
}

div#root{
    text-align: center;
}

h1{
    color: teal;
}

hr{
    height: 2px;
    background-color: #116466;
}

button{
    background-color: #116466;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

input {
    padding: 10px 20px;
    border: 1px solid #116466;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
    font-size: 16px;
}

p{
    color: saddlebrown;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
}